body{
    color:black;
    font-family: 'Roboto Mono', monospace;
    background-color: rgb(200, 190, 236);
    margin: 0px;
}

ul #titulo{
    margin: 0 80px 0 80px;
    font-size:x-large;
}

header{
    
    color: white ;
    margin: 0px;
    padding: 0px;
    
}
#navegacion li {
    display: inline;
    text-decoration: none;
    color: white;
    text-align: center;
    margin: 0px;
    padding-top: 30px;
    padding-bottom:29px;
    padding-right: 20px;
    padding-left: 20px;
}
#busqueda{
    width: 600px;
    margin: 0px;
    padding: 10px;
    border-radius: 8px;
}
a{
    text-decoration: none;
    color: white;
}
#navegacion li:hover {
    color: white;
    background-color: rgb(32, 45, 104);
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}
#navegacion ul{
    background-color: rgb(13, 11, 46)  ;
    margin: 0px;
    padding: 14px;
    padding-bottom: 17px;
    padding-left:0px ;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    list-style: none;

}
#Carrito{
    width: 35px;
    height: 30px;
}

img{
    width: 200px;
    height: 150px;
    border-radius: 10px;
}

#content{
    float: right;
    width: 79.1%;
    min-height: 500px;
    padding: 0px;
       
}
#content h3{
    margin: 0px;
    padding: 3.5px;
    padding-left: 0px;
    text-align: center;
    
}
#producto{
    text-align: left;
    background-color: white;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid white;
    float: left;
}
#producto:hover{
    text-align: left;
    background-color: white;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid black;
    
}
aside{
    color: black;
    background-color: white;
    margin-top: 17px;
    margin-left: 8px;
    padding: 10px;
    padding-top: 0px;
    float:left;
    width: 18.2%;
    min-height: 700px;
    border-radius:10px;
    
}
.categorias a{
    margin: 5px;
    padding: 7px 0px;
    text-align: center;
    background-color: rgb(11, 100, 100);
    
}
.categorias {
    display: flex;
    
    flex-direction: column;
    list-style: none;
    text-decoration: none;
    margin: 0px;
    padding: 8px;
    border: 1px solid white;
}
 .categorias .categoria-activa{
    background-color: green;
}
/* #categorias :hover{
    color: rgb(105, 77, 44);
    padding: 8px;
    text-decoration: none;
    margin: 0px;
    border:1px solid  rgb(194, 194, 212) ;
    background-color: rgb(194, 194, 212);
    border-radius: 4px;
} */
#filtro h3{
    margin: 10px;
    text-align: center;
    
    
}
h2{
    margin: 0px;
    text-align: left;
}