body{
    color:black;
    font-family: 'Roboto Mono', monospace;
    background-color: rgb(200, 190, 236);
    margin: 0px;
}

ul #titulo{
    margin: 0 80px 0 80px;
    font-size:x-large;
}

header{
    
    color: white ;
    margin: 0px;
    padding: 0px;
    
}
#navegacion li {
    display: inline;
    text-decoration: none;
    color: white;
    text-align: center;
    margin: 0px;
    padding-top: 31px;
    padding-bottom:27px;
    padding-right: 20px;
    padding-left: 20px;
}
#busqueda{
    width: 600px;
    margin: 0px;
    padding: 9px;
    border-radius: 8px;
}
a{
    text-decoration: none;
    color: white;
}
#navegacion li:hover {
    color: white;
    background-color: rgb(32, 45, 104);
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}
#navegacion ul{
    background-color: rgb(13, 11, 46)  ;
    margin: 0px;
    padding: 16px;
    padding-bottom: 17px;
    padding-left:0px ;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    list-style: none;

}
#Carrito{
    width: 35px;
    height: 30px;
}

img{
    width: 200px;
    height: 150px;
    border-radius: 10px;
}

#content{
    float: right;
    width: 79.1%;
    min-height: 500px;
    padding: 0px;
       
}
#content h3{
    margin: 0px;
    padding: 3.5px;
    padding-left: 0px;
    text-align: center;
    
}
.producto{
    text-align: left;
    background-color: white;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid white;
    float: left;
}
.producto:hover{
    text-align: left;
    background-color: white;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid black;
    
}
aside{
    color: black;
    background-color: white;
    /* margin-top: 10px; */
    /* margin-left: 8px; */
    padding: 10px;
    padding-top: 0px;
    float:left;
    width: 18.2%;
    min-height: 700px;
    /* border-radius:10px; */
    
}
.categorias .categoryItem{
    color: black;
    /* border: 1px black solid; */
    padding: 7px 0px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    
}
.categorias :hover{
    font-weight: 700;
    color: rgb(73, 72, 15);
    background-color: rgb(167, 159, 159);
    border: 0.5px solid black;
}
.categorias .categoria-activa{
    background-color:  rgb(167, 159, 159);
    color: black;
}
.categorias {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-decoration: none;
    margin: 0px;
    padding: 8px;
    border: 1px solid white;
}

 
#filtro h3{
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    
    
}
h2{
    margin: 0px;
    text-align: left;
}