body{
    color:white;
    background-color: black ;
    font-size: large;
    font-family: unset ;
    
}
fieldset{
    width: 500px;
    margin: 0 auto;
    background-color: darkblue;

}
legend{
    font-weight: bold;
    text-align: center;
}
div{
    width: 50px;
    height: 60px;

}
label{
    font-weight: bold;
    text-align: center;
}

input, button{
    height: 30px;
    
}